{% extends 'base.html' %}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static 'main/style.css' %}"/>
    <script src="{% static 'main/script.js' %}" defer></script>
{% endblock styles %}

{% block content %}
<body>
    <div class="container">
        <div class="row">
            <p class="text" style="color: white; font-size: 28px;padding-top: 120px;">Now Popular</p>
        </div>
        <div class="movies">
            <div class="row">

                {%if messages%}
                    {%for message in messages%}
                        <div class="alert alert-{{message.tags}}">
                             {{message}}
                        </div>
                    {%endfor%}
                {%endif%}

                {% for movie in movie_list %}
                    <div class="example-2 card">
                        <div class="wrapper" style="background: url({{movie.poster}}) center / cover no-repeat;">
                            <div class="data">
                                <div class="content">
{#                                    <span class="author">Jane Doe</span>#}
                                        <h1 class="title"><a href="{% url 'movieinfo' movie_id=movie.id %}">{{ movie.title }}</a></h1>
                                    <p class="text">{{ movie.small_description}}...</p>
                                    <a href="{% url 'movieinfo' movie_id=movie.id %}" class="button">More info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock content %}