{% extends 'base.html' %}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static 'authorization/auth.css' %}" />
    <script src="{% static 'authorization/auth.js' %}" defer></script>
{% endblock styles %}

{% block content %}
<body>
     <div class="body-container">
        <div class="container">
            <h1>Login</h1>
             <form method="POST">
                 {%csrf_token%}
                 <div class="form-control-auth">
                    <input type="text" name="username" required>
                    <label>Login</label>
                </div>
                <div class="form-control-auth">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                 <button class="btn">Login</button>
            </form>
            {%if messages%}
                {%for message in messages%}
                    <div class="alert alert-{{message.tags}}">
                         {{message}}
                    </div>
                {%endfor%}
            {%endif%}
            <p>Don't have an account? <a href="{% url 'registration' %}">Registration</a> </p>
        </div>
    </div>
</body>
{% endblock content %}