{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}" />
    <script src="{% static 'profile/profile.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Babidgon</title>
</head>

<body>

    <header>
        <ul class="navigation">
            <li><a href="{% url 'index' %}" class="babidgon">Babidgon</a></li>
        </ul>
        <ul class="navigation">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'index' %}">Movies</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="#">My tickets</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
        {% endif %}
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </header>


    <div class="body-container">

        <div id="DIV_233">
            Личный кабинет
        </div>
        <div id="DIV_1">
            <div id="DIV_2">
                <div id="DIV_3">
                    <picture id="PICTURE_4">
                        <img src="https://my.bycard.by/img/user-ico.937b09de.png" id="IMG_5" alt='' />
                    </picture>
                </div>
                <div id="DIV_6">
                    <a href="#" id="A_7" class="myTicketsButton">Мои билеты<span id="SPAN_8">0</span></a>
                    <a href="#" id="A_11" class="profileButton">Профиль</a>
                </div>
            </div>
            <div id="DIV_13">
                <div id="DIV_14">
                    <div id="DIV_15">
                        <div id="DIV_16">
                            <div id="DIV_17">
                                <div id="DIV_18">
                                    Имя
                                </div>
                                <input id="INPUT_19" />
                            </div>
                        </div>
                        <div id="DIV_20">
                            <div id="DIV_21">
                                <div id="DIV_22">
                                    Фамилия
                                </div>
                                <input id="INPUT_23" />
                            </div>
                        </div>
                        <div id="DIV_225">
                            <div id="DIV_226">
                                <div id="DIV_227">
                                    Email
                                </div>
                                <input id="INPUT_228" />
                            </div>
                        </div>
                        <div id="DIV_229">
                            <div id="DIV_230">
                                <div id="DIV_231">
                                    <button id="BUTTON_232">
                                        Сохранить данные
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="DIV_256">

                <div id="DIV_236">
                    <div id="DIV_237">
                        <div id="DIV_238">
                            <div id="DIV_239">
                                <a id="A_20" class="actually">Актуальные</a><a id="A_21" class="booked">Забронировано</a><a id="A_22" class="archive">Архив</a>
                            </div>
                        </div>
                        <div id="DIV_240">

                            <div id="DIV_241">
                                <div id="DIV_242">
                                    <div id="DIV_243">
                                        <div id="DIV_244">
                                            <i id="I_20"></i>
                                            <div id="DIV_245">
                                                У вас нет актуальных билетов.
                                            </div>
                                        </div>
                                        <button id="BUTTON_15">
                                            Перейти к афише
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="cardWrap">
                                <div class="card cardLeft">
                                  <h1>Startup <span>Cinema</span></h1>
                                  <div class="title">
                                    <h2>How I met your Mother</h2>
                                    <span>movie</span>
                                  </div>
                                  <div class="name">
                                    <h2>Vladimir Kudinov</h2>
                                    <span>name</span>
                                  </div>
                                    <div class="seatAndTime">
                                        <div class="seat">
                                            <h2>156</h2>
                                            <span>seat</span>
                                        </div>
                                        <div class="time">
                                            <h2>12:00</h2>
                                            <span>time</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card cardRight">
                                  <div class="eye"></div>
                                  <div class="number">
                                    <h3>156</h3>
                                    <span>seat</span>
                                  </div>
                                  <div class="barcode"></div>
                                </div>

                              </div>
                              <div class="cardWrap">
                                <div class="card cardLeft">
                                  <h1>Startup <span>Cinema</span></h1>
                                  <div class="title">
                                    <h2>How I met your Mother</h2>
                                    <span>movie</span>
                                  </div>
                                  <div class="name">
                                    <h2>Vladimir Kudinov</h2>
                                    <span>name</span>
                                  </div>
                                    <div class="seatAndTime">
                                        <div class="seat">
                                            <h2>156</h2>
                                            <span>seat</span>
                                        </div>
                                        <div class="time">
                                            <h2>12:00</h2>
                                            <span>time</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card cardRight">
                                  <div class="eye"></div>
                                  <div class="number">
                                    <h3>156</h3>
                                    <span>seat</span>
                                  </div>
                                  <div class="barcode"></div>
                                </div>

                              </div>
                              <!-- <div class="cardWrap">
                                <div class="card cardLeft">
                                  <h1>Startup <span>Cinema</span></h1>
                                  <div class="title">
                                    <h2>How I met your Mother</h2>
                                    <span>movie</span>
                                  </div>
                                  <div class="name">
                                    <h2>Vladimir Kudinov</h2>
                                    <span>name</span>
                                  </div>
                                    <div class="seatAndTime">
                                        <div class="seat">
                                            <h2>156</h2>
                                            <span>seat</span>
                                        </div>
                                        <div class="time">
                                            <h2>12:00</h2>
                                            <span>time</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card cardRight">
                                  <div class="eye"></div>
                                  <div class="number">
                                    <h3>156</h3>
                                    <span>seat</span>
                                  </div>
                                  <div class="barcode"></div>
                                </div>
                              
                              </div> -->

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="foot-container">
            <div class="row">
                <div class="footer-col">
                    <h4>follow me</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>