{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'authorization/auth.css' %}" />
    <script src="{% static 'authorization/auth.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Babidgon</title>
</head>

<body>

    <header>
        <ul class="navigation">
            <li><a href="{% url 'index' %}" class="babidgon">Babidgon</a></li>
        </ul>
        <ul class="navigation">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'index' %}">Movies</a></li>
            <li><a href="{% url 'login' %}">Log in</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="#">My tickets</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% endif %}
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </header>

    <div class="body-container">
        <div class="container">
{#            <h1>Registration</h1>#}
{#            <form>#}
{#                <div class="form-control-auth">#}
{#                    <input type="text" required>#}
{#                    <label>Name</label>#}
{#                </div>#}
{#                <div class="form-control-auth">#}
{#                    <input type="text" required>#}
{#                    <label>Surname</label>#}
{#                </div>#}
{#                <div class="form-control-auth">#}
{#                    <input type="text" required>#}
{#                    <label>Email</label>#}
{#                </div>#}
{#                <div class="form-control-auth">#}
{#                    <input type="text" required>#}
{#                    <label>Age</label>#}
{#                </div>#}
{#                <div class="form-control-auth">#}
{#                    <input type="login" required>#}
{#                    <label>Login</label>#}
{#                </div>#}
{#                <div class="form-control-auth">#}
{#                    <input type="password" required>#}
{#                    <label>Password</label>#}
{#                </div>#}
{#                <button class="btn">Login</button>#}
{#            </form>#}


            <h1>Registration</h1>
             <form method="POST">
                 {%csrf_token%}
                 <div class="form-control-auth">
                    {{form.username}}
                    <label>Login</label>
                </div>
                <div class="form-control-auth">
                    {{form.password1}}
                    <label>Password</label>
                </div>
                 <div class="form-control-auth">
                    {{form.password2}}
                    <label>Repeat Password</label>
                </div>
                 <div class="form-control-auth">
                     {{form.first_name}}
                    <label>Name</label>
                 </div>
                 <div class="form-control-auth">
                     {{form.last_name}}
                    <label>Surname</label>
                </div>
                <div class="form-control-auth">
                    {{form.email}}
                    <label>Email</label>
                </div>
                 {{ form.errors }}
                 <button class="btn">Login</button>
            </form>


            <p>Already Have An Account? <a href="{% url 'login' %}">Sign In</a> </p>
        </div>
    </div>

    <footer class="footer">
        <div class="foot-container">
            <div class="row">
                <div class="footer-col">
                    <h4>follow me</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>