{% extends 'base.html' %}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static 'boockingticket/boockingticket.css' %}" />
    <script src="{% static 'boockingticket/boockingticket.js' %}" defer></script>
{% endblock styles %}

{% block content %}
<body>
    <form action="" method="post" class="form-inline">
        {% csrf_token %}
        <div class="body-container">
            <div class="movie-container">
                <label id ="movie">
                    <label value="10" id="name">Anchored: does not appear on the cards ($10)</label>
                </label>
                <br>
                <label id="date">25.05.2022 </label>
                <label id="time">12:25 </label>
            </div>

            <ul class="myshowcase">
                <li>
                    <div class="seat"></div>
                    <small>N/A</small>
                </li>
                <li>
                    <div class="seat selected"></div>
                    <small>Selected</small>
                </li>
                <li>
                    <div class="seat occupied"></div>
                    <small>Occupied</small>
                </li>
            </ul>

            <div class="mycontainer">
                <div class="screen"></div>


{#                <form action="" method="post" class="form-inline">#}
{#                            {% csrf_token %}#}
{#                            <select name="seat_count" class="form-control form-control-sm ml-2">#}
{#                                <option value="1">1</option>#}
{#                                <option value="2">2</option>#}
{#                                <option value="3">3</option>#}
{#                                <option value="4">4</option>#}
{#                                <option value="5">5</option>#}
{#                                <option value="6">6</option>#}
{#                                <option value="7">7</option>#}
{#                                <option value="8">8</option>#}
{#                                <option value="9">9</option>#}
{#                                <option value="10">10</option>#}
{#                            </select>#}
{#                            <button type="submit" class="btn btn-xs btn-success my-1">#}
{#                                خرید بلیت#}
{#                            </button>#}
{#                        </form>#}

                    <div class="row">
{#                        <input type="checkbox" class="seat">#}
{#                        <div class="seat" value=2>#}
{#                            <label class="container">One#}
{#                              <input type="checkbox" name="ship" value="3" required id="id_ship_2">#}
{#                              <span class="checkmark"></span>#}
{#                            </label>#}
{#                            </div>#}
{#                        <div class="seat" value=3><input type="checkbox" name="ship" value="3" required id="id_ship_2"></div>#}
                        <div class="seat" value=1></div>
                        <div class="seat" value=2></div>
                        <div class="seat" value=3></div>
                        <div class="seat" value=4></div>
                        <div class="seat" value=5></div>
                        <div class="seat" value=6></div>
                        <div class="seat" value=7></div>
                        <div class="seat" value=8></div>
                    </div>
                    <div class="row">
                        <div class="seat" value=9></div>
                        <div class="seat" value=10></div>
                        <div class="seat" value=11></div>
                        <div class="seat occupied" value=12></div>
                        <div class="seat occupied" value=13></div>
                        <div class="seat" value=14></div>
                        <div class="seat" value=15></div>
                        <div class="seat" value=16></div>
                    </div>
                    <div class="row">
                        <div class="seat" value=17></div>
                        <div class="seat" value=18></div>
                        <div class="seat" value=19></div>
                        <div class="seat" value=20></div>
                        <div class="seat" value=21></div>
                        <div class="seat" value=22></div>
                        <div class="seat" value=23></div>
                        <div class="seat" value=24></div>
                    </div>
                    <div class="row">
                        <div class="seat" value=25></div>
                        <div class="seat" value=26></div>
                        <div class="seat" value=27></div>
                        <div class="seat" value=28></div>
                        <div class="seat" value=29></div>
                        <div class="seat" value=30></div>
                        <div class="seat occupied" value=31></div>
                        <div class="seat occupied" value=32></div>
                    </div>
                    <div class="row">
                        <div class="seat" value=33></div>
                        <div class="seat" value=34></div>
                        <div class="seat" value=35></div>
                        <div class="seat occupied" value=36></div>
                        <div class="seat occupied" value=37></div>
                        <div class="seat" value=38></div>
                        <div class="seat" value=39></div>
                        <div class="seat" value=40></div>
                    </div>
                    <div class="row">
                        <div class="seat" value=41></div>
                        <div class="seat" value=42></div>
                        <div class="seat" value=43></div>
                        <div class="seat" value=44></div>
                        <div class="seat occupied" value=45></div>
                        <div class="seat occupied" value=46></div>
                        <div class="seat occupied" value=47></div>
                        <div class="seat" value=48></div>
                    </div>
                
            </div>

            <p class="text">
                You have selected <span id="count" name="seat_count">0</span> seats to see
                <span id="movie-Name"></span> for a price of span $<span id="total">0</span>
            </p>

            {% if request.user.is_authenticated %}
            <div class="buttons">
                <button id="but" class="btn btn-primary btn-lg" type="submit">Buy</button>
                <button class="btn btn-primary btn-lg" type="submit">Book</button>
            </div>
            {% endif %}
        </div>
    </form>
</body>
{% endblock content %}
