{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'boockingticket/boockingticket.css' %}"/>
    <script src="{% static 'boockingticket/boockingticket.js' %}" defer></script>
{% endblock styles %}

{% block content %}
    <body>
    <div class="body-container">
        <div class="movie-container">
            <label id="movie">
                <label value="10" id="name">{{ movie }} ($10)</label>
            </label>
            <br>
            <label id="date"></label>
        </div>

        <ul class="myshowcase">
            <li>
                <div class="seat"></div>
                <small>N/A</small>
            </li>
            <li>
                <div class="seat selected"></div>
                <small>Selected</small>
            </li>
            <li>
                <div class="seat occupied"></div>
                <small>Occupied</small>
            </li>
        </ul>

        <div class="mycontainer">
            <div class="screen"></div>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <input type="checkbox" class="seat" value=1 name="choices">
                    <input type="checkbox" class="seat" value=2 name="choices">
                    <input type="checkbox" class="seat" value=3 name="choices">
                    <input type="checkbox" class="seat" value=4 name="choices">
                    <input type="checkbox" class="seat" value=5 name="choices">
                    <input type="checkbox" class="seat" value=6 name="choices">
                    <input type="checkbox" class="seat" value=7 name="choices">
                    <input type="checkbox" class="seat" value=8 name="choices">
                </div>
                <div class="row">
                    <input type="checkbox" class="seat" value=9 name="choices">
                    <input type="checkbox" class="seat" value=10 name="choices">
                    <input type="checkbox" class="seat" value=11 name="choices">
                    <input type="checkbox" class="seat" value=12 name="choices">
                    <input type="checkbox" class="seat" value=13 name="choices">
                    <input type="checkbox" class="seat" value=14 name="choices">
                    <input type="checkbox" class="seat" value=15 name="choices">
                    <input type="checkbox" class="seat" value=16 name="choices">
                </div>
                <div class="row">
                    <input type="checkbox" class="seat" value=17 name="choices">
                    <input type="checkbox" class="seat" value=18 name="choices">
                    <input type="checkbox" class="seat" value=19 name="choices">
                    <input type="checkbox" class="seat" value=20 name="choices">
                    <input type="checkbox" class="seat" value=21 name="choices">
                    <input type="checkbox" class="seat" value=22 name="choices">
                    <input type="checkbox" class="seat" value=23 name="choices">
                    <input type="checkbox" class="seat" value=24 name="choices">
                </div>
                <div class="row">
                    <input type="checkbox" class="seat" value=25 name="choices">
                    <input type="checkbox" class="seat" value=26 name="choices">
                    <input type="checkbox" class="seat" value=27 name="choices">
                    <input type="checkbox" class="seat" value=28 name="choices">
                    <input type="checkbox" class="seat" value=29 name="choices">
                    <input type="checkbox" class="seat" value=30 name="choices">
                    <input type="checkbox" class="seat" value=31 name="choices">
                    <input type="checkbox" class="seat" value=32 name="choices">
                </div>
                <div class="row">
                    <input type="checkbox" class="seat" value=33 name="choices">
                    <input type="checkbox" class="seat" value=34 name="choices">
                    <input type="checkbox" class="seat" value=35 name="choices">
                    <input type="checkbox" class="seat" value=36 name="choices">
                    <input type="checkbox" class="seat" value=37 name="choices">
                    <input type="checkbox" class="seat" value=38 name="choices">
                    <input type="checkbox" class="seat" value=39 name="choices">
                    <input type="checkbox" class="seat" value=40 name="choices">
                </div>
                <div class="row">
                    <input type="checkbox" class="seat" value=41 name="choices">
                    <input type="checkbox" class="seat" value=42 name="choices">
                    <input type="checkbox" class="seat" value=43 name="choices">
                    <input type="checkbox" class="seat" value=44 name="choices">
                    <input type="checkbox" class="seat" value=45 name="choices">
                    <input type="checkbox" class="seat" value=46 name="choices">
                    <input type="checkbox" class="seat" value=47 name="choices">
                    <input type="checkbox" class="seat" value=48 name="choices">
                </div>

        </div>

        <p class="text">
            You have selected <span id="count" name="seat_count">0</span> seats to see
            <span id="movie-Name"></span> for a price of span $<span id="total">0</span>
        </p>

        {% if request.user.is_authenticated %}
            <div class="buttons">
                <button class="btn btn-primary btn-lg" type="submit" style="background-color: #e91e63; border-color: #e91e63">Book tickets</button>
            </div>
        {% endif %}
        </form>
    </div>
    </body>
{% endblock content %}
