{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'movieinfo/movieinfo.css' %}"/>
    <script src="{% static 'movieinfo/movieinfo.js' %}" defer></script>
{% endblock styles %}

{% block content %}
    <body>
    <center>
        <main>
            <div class="event-page__view">
                <div class="event-page__slider"></div>
                <div class="event-page__inner">
                    <div class="rows">
                        <div class="event-page__left">
                            <picture class="poster">
                                <img src={{ movie.poster }}>
                            </picture>
                        </div>

                        <div class="event-page__right column">
                            <div class="rows jc-sb">
                                <div class="event-page__header">
                                    <h1 class="MovieTitle">{{ movie.title }}</h1>
                                </div>
                                <div class="event-page__shortcuts">
                                </div>
                            </div>
                            <div class="row table-about">
                                <div class="table-about__box">
                                    <div class="table-about__header">Даты показа:</div>
                                    <div class="table-about__text">
                                        <span>{{ movie.start_date }} - {{ movie.end_date }}</span>
                                    </div>
                                </div>
                                <div class="table-about__box">
                                    <div class="table-about__header">Длительность:</div>
                                    <div class="table-about__text">{{ movie.movie_length }} мин.</div>
                                </div>
                                <div class="table-about__box">
                                    <div class="table-about__header">Жанр:</div>
                                    <div class="table-about__text"><span>Боевик,
                                        </span><span>Приключения, </span><span>Premium</span></div>
                                </div>
                                <div class="table-about__box">
                                    <div class="table-about__header">Стоимость:</div>
                                    <div class="table-about__text">{{ movie.price }}р.
                                    </div>
                                </div>
                                <div class="table-about__box">
                                    <div class="table-about__header">Возрастные ограничения:</div>
                                    <div class="table-about__text">{{ movie.category }}</div>
                                </div>
                            </div>


                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="inputDate">Choose date and time</label>
                                    <input id="date" name="date" type="date" min="{{ start_date }}" max="{{ end_date }}"
                                           value="{{ date }}" class="form-control dateTime" style="width: 300px">
                                </div>
                                <div class="form-group">
                                    <select style="width: 300px" name="time" id="time">
                                        <option value="11:00" name="time">10:00</option>
                                        <option value="15:00" name="time">14:00</option>
                                        <option value="19:00" name="time">18:00</option>
                                        <option value="23:00" name="time">22:00</option>
                                    </select>
                                </div>
                                <div class="mybutton">
                                    <input type="submit" class="setTime"
                                           href="{% url 'boockingticket' movie_id=movie.id %}"/>
                                </div>
                            </form>


                            <div class="event-page__description">
                                <p style="text-align:justify"><br>{{ movie.description }}.</p>
                            </div>

                            <section class="reviews">

                                {% if request.user.is_authenticated %}
                                    <div class="reviews__form">
                                        <div class="reviews__header">Отзывы<span
                                                class="reviews__count"> {{ commentary.count }}</span></div>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                {{ form.as_p }}
                                            </div>
                                            <div class="row">
                                                <button type="submit" name="Submit" class="button button_primary">
                                                    Отправить отзыв
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}

                                <div class="reviews__comments column">
                                    {% for comment in commentary %}
                                        <div class="comment">
                                            <div class="comment-row">
                                                <picture class="comment__avatar"><img
                                                        src="https://my.bycard.by/img/user-ico.937b09de.png">
                                                </picture>
                                                <div class="comment-column">
                                                    <div class="comment__header">{{ comment.user }}</div>
                                                    <div class="comment__time">{{ comment.date }}</div>
                                                </div>
                                            </div>
                                            <div class="comment-row">
                                                <div class="comment__body">
                                                    <div class="comment__message">{{ comment.content }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p>There are no comments yet.</p>
                                    {% endfor %}
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </center>
    </body>
{% endblock content %}