{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}"/>
    <script src="{% static 'profile/profile.js' %}" defer></script>
{% endblock styles %}

{% block content %}
    <body>
    <div class="body-container">
        <div id="DIV_233">
            Personal account
        </div>
        <div id="DIV_1">
            <div id="DIV_2">
                <div id="DIV_3">
                    <picture id="PICTURE_4">
                        <img src="https://my.bycard.by/img/user-ico.937b09de.png" id="IMG_5" alt=''/>
                    </picture>
                </div>
                <div id="DIV_6">
                    <a href="#" id="A_7" class="myTicketsButton">My tickets<span
                            id="SPAN_8">{{ all_ticket.count }}</span></a>
                    <a href="#" id="A_11" class="profileButton">Profile</a>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div id="DIV_13">
                    <div id="DIV_14">
                        <div id="DIV_15">
                            <div id="DIV_16">
                                <div id="DIV_17">
                                    <div id="DIV_18" style="font-size: 18px">
                                        First name
                                    </div>
                                    {{ u_form.first_name }}
                                </div>
                            </div>
                            <div id="DIV_20">
                                <div id="DIV_21">
                                    <div id="DIV_22" style="font-size: 18px">
                                        Last name
                                    </div>
                                    {{ u_form.last_name }}
                                </div>
                            </div>
                            <div id="DIV_225">
                                <div id="DIV_226">
                                    <div id="DIV_227" style="font-size: 18px">
                                        Email
                                    </div>
                                    {{ u_form.email }}
                                </div>
                            </div>
                            {{ form.errors }}
                            <div id="DIV_229">
                                <div id="DIV_230">
                                    <div id="DIV_231">
                                        <button id="BUTTON_232" type="submit">
                                            Save data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div id="DIV_256">

                <div id="DIV_236">
                    <div id="DIV_237">
                        <div id="DIV_238">
                            <div id="DIV_239">
                                {#                                <a id="A_20" class="actually">Куплено</a><a id="A_21" class="booked">Забронировано</a>#}
                                <a id="A_22" class="archive">Archive</a>
                            </div>
                        </div>
                        <div id="DIV_240">
                            {% if all_ticket.count == 0 %}
                                <div id="DIV_241">
                                    <div id="DIV_242">
                                        <div id="DIV_243">
                                            <div id="DIV_244">
                                                <i id="I_20"></i>
                                                <div id="DIV_245">
                                                    You don't have actual tickets.
                                                </div>
                                            </div>
                                            <button id="BUTTON_15" href="{% url 'index' %}">
                                                Go to the movies
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% for tickets in all_ticket %}
                                    <div class="cardWrap">
                                        <div class="card cardLeft">
                                            <h1>Babidgon <span>Cinema</span></h1>
                                            <div class="title">
                                                <h2>{{ tickets.movie }}</h2>
                                                <span>movie</span>
                                            </div>
                                            <div class="name">
                                                <h2>{{ tickets.user_first_name }} {{ tickets.user_last_name }}</h2>
                                                <span>name</span>
                                            </div>
                                            <div class="seatAndTime">
                                                <div class="seat">
                                                    <h2>{{ tickets.seat }}</h2>
                                                    <span>seat</span>
                                                </div>
                                                <div class="time">
                                                    <h2>{{ tickets.datetime }}</h2>
                                                    <span style="width: 50px">date and time</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card cardRight">
                                            <div class="eye"></div>
                                            <div class="number">
                                                <h3>{{ tickets.seat }}</h3>
                                                <span>seat</span>
                                            </div>
                                            <div class="barcode"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    </body>
{% endblock content %}