:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px
}

:root,
a {
  color: #151515
}

.row {
  display: flex;
  flex-direction: row
}

.rows {
  display: flex;
  flex-direction: row
}

.column {
  display: flex;
  flex-direction: column
}

body,
html {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background: #fbfbfb
}

.page {
  width: 100%;
  max-width: 83.75rem;
  align-self: center;
  margin-bottom: 3.125rem;
  padding: 2.5rem 1.25rem;
  box-shadow: 0 0 .625rem .0625rem rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: .25rem;
  z-index: 0;
  text-align: left
}

.separator {
  height: 25px;
  padding: 0;
  background-image: linear-gradient(#e6e6e6, #e6e6e6);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 50%
}

.navigation {
  display: flex;
  align-items: center
}

.navigation_left {
  justify-content: flex-start
}

.navigation_left {
  display: flex;
  flex-direction: row;
  align-items: center
}

.navigation a {
  text-decoration: none
}

.navigation nav {
  margin: 0 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase
}

.navigation nav .link__dd+.link__dd {
  margin-left: .5rem
}

.navigation nav .link__dd,
.navigation nav>a {
  position: relative
}

.navigation nav .link__dd .nuxt-link-active,
.navigation nav>a .nuxt-link-active {
  border: 1px solid #ee2d37
}

.navigation nav .link__dd .btn,
.navigation nav>a .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2.25rem;
  min-height: 2.25rem;
  height: 2.25rem;
  text-decoration: none;
  padding: 0 1.25rem;
  font-size: .6875rem;
  font-weight: 600;
  white-space: nowrap
}

.navigation nav .link__dd .btn.bold,
.navigation nav>a .btn.bold {
  font-weight: 700
}

.navigation nav .link__dd .btn:focus,
.navigation nav>a .btn:focus {
  box-shadow: none
}

.navigation nav .link__dd.bold,
.navigation nav>a.bold {
  font-weight: 700
}

.navigation nav .link__dd:hover .children {
  opacity: 1;
  visibility: visible;
  box-shadow: 0 .125rem .625rem rgba(0, 0, 0, .3);
  padding: .625rem 0;
  min-width: 12.5rem;
  background-color: #fff;
  bottom: -1rem
}

.navigation nav .link__dd:hover .children_item {
  padding: 1.0625rem 1.875rem;
  font-size: .75rem
}

.navigation nav .children {
  z-index: 11;
  transition: all .35s ease-in-out;
  outline: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 25rem;
  bottom: .625rem;
  transform: translateY(100%)
}

.navigation nav .children:before {
  content: "";
  display: flex;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  height: 1rem
}

.navigation nav .children_item {
  width: 100%;
  font-size: 0;
  text-transform: none;
  font-weight: 600
}

.navigation nav .children_item:hover {
  text-decoration: underline
}

.search {
  position: relative
}

.search__input {
  font-family: Montserrat, sans-serif;
  transition: all .25s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: .0625rem solid #ccc;
  min-height: 2.8125rem;
  max-height: 2.8125rem;
  width: 100%;
  min-width: 20rem;
  max-width: 20rem;
  display: flex;
  align-items: center;
  padding: 0 1.375rem;
  border-radius: .1875rem;
  outline: none
}

.event-page {
  margin-top: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: row
}

.event-page__view {
  width: 67.5rem
}

.event-page__slider {
  z-index: 1
}

.event-page__inner {
  position: relative;
  z-index: 2;
  padding: 1.25rem;
  min-height: 12.5rem;
  border-radius: .1875rem;
  background-color: #fff
}

.event-page__left {
  min-width: 18.75rem;
  max-width: 18.75rem;
  width: 18.75rem
}

.event-page__right {
  display: flex;
  width: 100%;
  padding-left: 1.5625rem;
  max-width: 43.75rem
}

.event-page__header {
  display: flex;
  flex-direction: column
}

.event-page__header,
.event-page__header h1 {
  line-height: 1.875rem;
  font-size: 1.5rem;
  font-weight: 700
}

.event-page__header small {
  color: #999
}

.event-page__shortcuts {
  display: flex;
  margin-left: .625rem
}

.event-page__description {
  font-size: .9375rem;
  line-height: 1.625rem;
  font-weight: 500;
  padding-bottom: 1.25rem
}

.event-page__description .image-container img {
  height: auto !important;
  width: 100% !important;
  max-width: 100% !important
}

picture.poster {
  border-radius: .75rem;
  margin-bottom: 1.25rem;
  min-width: 18.75rem;
  max-width: 18.75rem;
  width: 18.75rem;
  min-height: 26.875rem;
  max-height: 26.875rem;
  height: 26.875rem;
  display: flex;
  overflow: hidden;
  position: relative
}

picture.poster img {
  max-width: 100%;
  min-height: 100%
}

picture.poster .badge__view {
  position: absolute;
  top: 1.4375rem;
  left: 1.25rem
}

.table-about {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  border-top: .0625rem solid #ee2d37;
  border-bottom: .0625rem solid #ee2d37
}

.table-about__header,
.table-about__text {
  font-size: .75rem;
  font-weight: 700
}

.table-about__box {
  margin: .9375rem 0 0;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  line-height: 1.25rem;
  border-bottom: .0625rem dotted #e6e6e6
}

.table-about__box:first-child {
  padding-left: 0
}

.table-about__box:last-child {
  margin-bottom: .9375rem;
  padding-right: 0;
  border-right: none;
  border-bottom: none
}